
.header-button-text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.8rem;
    padding-left: 0.3rem;
    color: #ffffff;
}

.landing-page-wallpaper {
    height: 100%;
    background-image: linear-gradient( to bottom, #011223, #011F3B );
    background-size: 100% ;
    background-repeat: no-repeat;
    margin-top: 0.1rem;
}

.landing-page-title {
    color: var(--white);
    padding-top: 30%;
    font-size: 2rem;
    width: 60%;
    display: flex;
}

.landing-page-button {
    background-color: var(--white);
}

.div-section-2 {
    width: 100%;
    height: 30rem;
    padding-top: 12%;
    background-image: linear-gradient( to bottom, #011F3B, #024483);
}

.div-power-production {
    height: 15rem;
    padding-top: 5rem;
    align-items: center; 
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100% !important; 
}

.body-title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.8rem;
    padding-left: 1.5rem;
    color: #ffffff;
    display: flex;
}

.h2-calculator-attribute {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.8rem;
    color: #ffffff;
    display: flex;
}

.calculator-input {
    height: 1.5rem;
    border-radius: 8px;
    border: 0;
    padding-left: 0.4rem;
}